<template id="lunch-page-case-number">
    <!-- inject:css -->
    <!-- endinject -->
    <div class="cardPair">
        <div class="description">
            <h1>{{languageResources.caseNumberHeader}}</h1>
            <p>
                {{languageResources.caseNumberBlurb}}
            </p>
        </div>
        <div class="card">
            <div class="inner">
                <h1>{{languageResources.caseNumberFormHeader}}</h1>
                <form>
                    <input name="caseNumber" type="text" />
                    <div class="buttonBar">
                        <button class="button noCase">{{languageResources.caseNumberButtonNoCaseNumber}}</button>
                        <button class="button next">{{languageResources.buttonNext}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>