@import 'Common/Constants';
@import 'Common/Fonts';

body {
    font-family: "Open Sans";
    color: $color-text;
    background: linear-gradient(170deg, #b9e986 40%, #76de91 40%) fixed;
}

lunch-application {
    display: block;
    max-width: 1000px;
    padding: 16px;
    overflow-y: auto;
    margin: 0 auto;
    overflow: visible;
}
