@import '../../Styles/Common/Header';
@import '../../Styles/Common/Card';
@import '../../Styles/Common/Input';

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
input {
    flex-shrink: 0;
}