<template id="lunch-page-household-role">
    <!-- inject:css -->
    <!-- endinject -->
    <div class="cardPair">
        <div class="description">
            <h1>{{languageResources.householdRoleHeader}}</h1>
            <p>
                {{languageResources.householdRoleBlurb}}
            </p>
        </div>
        <div class="card">
            <div class="inner">
                <h1>{{languageResources.householdRoleFormHeader}}</h1>
                <form>
                    <div class="roles">
                        <div class="role">
                            <img src="" />
                            <div class="title">{{languageResources.householdRoleChild}}</div>
                        </div>
                        <div class="role">
                            <img src="" />
                            <div class="title">{{languageResources.householdRoleAdult}}</div>
                        </div>
                    </div>
                    <div class="buttonBar">
                        <button class="button">{{languageResources.buttonNext}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>