<template id="lunch-page-intro">
    <!-- inject:css -->
    <!-- endinject -->
    <h1>{{languageResources.introHeader}}</h1>
    <p>
        {{languageResources.introBlurb}}
    </p>
    <div class="highlightPane">
        <div class="inner">
            <h2>{{languageResources.languageHeader}}</h2>
            <ul>
                <li>{{languageResources.englishLanguageNameBlurb}}</li>
                <li>{{languageResources.spanishLanguageNameBlurb}}</li>
                <li>{{languageResources.chineseLanguageNameBlurb}}</li>
                <li>{{languageResources.frenchLanguageNameBlurb}}</li>
                <li>{{languageResources.vietnameseLanguageNameBlurb}}</li>
                <li>{{languageResources.tagalogLanguageNameBlurb}}</li>
                <li>{{languageResources.arabicLanguageNameBlurb}}</li>
                <li>{{languageResources.koreanLanguageNameBlurb}}</li>
            </ul>
        </div>
    </div>
    <button class="bigButton">{{languageResources.introBeginButtonText}}</button>
</template>